.accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .accordion-item {
    border: 1px solid #000;
    padding: 20px;
    position: relative;
  }
  
  .accordion__title {
    padding: 0 0 0 30px;
    font-size: 20px;
    font-weight: 600;
  }

  .accordion__text {
    display: none;
    padding: 30px;

  }
  
  .accordion-item.active .accordion__text {
    display: block;
  }



  .accordion-item::before,
  .accordion-item::after{
    content: " ";
    width: 10px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 32px;
    margin: 0 0 0 15px;
    transition: all 0.3s ease 0s;
}

.accordion-item::before{
    transform: rotate(40deg);
    left: 0;
}

.accordion-item::after{
    transform: rotate(-40deg);
    left: 8px;
}



.accordion-item.active::before,
.accordion-item.active::after{
    background-color: #000;
}
.accordion-item.active::before{
    transform: rotate(-40deg);
}
.accordion-item.active::after{
    transform: rotate(40deg);
}


