.accordion{
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.accordion__item{
    border: 1px solid #000000;
    padding: 15px 10px;
}
.accordion__title{
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding: 0 0 0 30px;
}

.accordion__title::before,
.accordion__title::after{
    content: " ";
    width: 10px;
    height: 1px;
    background-color: #000000;
    position: absolute;
    top: 8px;
    transition: all 0.3s ease 0s;
}
.accordion__title::before{
    transform: rotate(40deg);
    left: 0;
}
.accordion__title::after{
    transform: rotate(-40deg);
    left: 8px;
}
.accordion__title.active-acc::before,
.accordion__title.active-acc::after{
    background-color: #000;
}
.accordion__title.active-acc::before{
    transform: rotate(-40deg);
}
.accordion__title.active-acc::after{
    transform: rotate(40deg);
}

.accordion__text{
    display: none;
    padding: 10px 0 0 0;
}